@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #3A68B7;
    --white: #FFF;
}

.format {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth"100;
    background-color: var(--blue);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    font-weight: 300;
    font-size: 1.4rem;
}

.fieldeset {
    background-color: var(--white);
    min-height: 430px;
    min-width: 450px;
    -webkit-box-shadow: -7px 0px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -7px 0px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -7px 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.legend {
    font-weight: 300;
    padding: 7rem 0 .5rem .6rem;
    color: var(--blue);
    font-size: 2rem;
}

.legend::first-letter {
    text-transform: uppercase;
}

.style_login {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 0.9rem;
    border: none;
    color: var(--blue);
}

.style_login>label {
    margin-left: .7rem;
    text-transform: uppercase;
    font-size: .75rem;
}


#user, #pass, #email {
    border: none;
    padding: .5rem;
    padding-left: 2;
    border-bottom: 1px solid var(--blue);
    width: 91%;
    margin: 0 auto .4rem;
    font-size: .9rem;
}

#user:focus, #pass:focus, #email:focus {
    outline: 1px solid var(--blue);
    transform: scaleY(1.1);
    transition: 250ms;
}

.btn {
    background-color: var(--blue);
    text-transform: uppercase;
    font-size: .9rem;
    color: var(--white);
    padding: .65rem;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    width: 30%;
}

.register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 0.7rem;
    color: var(--blue);
}

.register_links {
    display: flex;
    align-items: center;
    text-align: center;
    gap: .3rem;
    font-size: .74rem;
}

.register_p {
    text-transform: uppercase;
    font-weight: 600;
}

.new-pass, a {
    text-decoration: none;
    color: inherit;
}

.new-pass, a::first-letter{
    text-transform: uppercase;    
}

