@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #3A68B7;
    --white: #FFF;
}

body {
    background-color: var(--blue);
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth"100;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    font-weight: 300;
    font-size: 1.4rem;
}

.white {
    background-color: var(--white);
}

.legend {
    font-weight: 300;
    padding: 7rem 0 .5rem .6rem;
    color: var(--blue);
    font-size: 2rem;
    text-transform: capitalize;
}

.estilo_login {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 350px;
    width: 430px;
    font-size: 0.9rem;
    border: none;
}

.estilo_login>label {
    margin-left: .7rem;
    text-transform: uppercase;
    font-size: .75rem;
}


#usuario, #senha, #email {
    border: none;
    padding: .5rem;
    border-bottom: 1px solid var(--blue);
    width: 90%;
    margin: 0 auto .5rem;
    font-size: .7rem;
}

#usuario:focus, #senha:focus, #email:focus {
    outline: 1px solid var(--blue);
    transform: scaleY(1.1);
    transition: 250ms;
}

.btn {
    background-color: var(--blue);
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--white);
    padding: .6rem;
    border-radius: 5%;
    border: none;
    font-weight: 600;
    margin-left: .8rem;
    width: 16%;
}

.cadastro {
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 900;
    margin-left: 1rem;
    text-decoration: none;
}

.nova_senha {
    margin-left: 8.7rem;
    font-size: .7rem;
}

.nova_senha::first-letter {
font-size: 1rem;
}